.avatar {
  display: inline-flex;
}

.avatar-layers {
  text-align: center;
  background-color: var(--shade-foreground);
  border-radius: var(--globals-border-radius);
  padding-inline: 0.5rem;
  height: 2rem;
  min-width: 2rem;
}

.avatar-initials {
  color: var(--shade-background);
  font-weight: 700;
  user-select: none;
}

.avatar-image {
  display: inline-block;
}

.avatar-name {
  white-space: nowrap;
  font-weight: 600;
}

.avatar-description {
  color: var(--shade-accent);
  white-space: nowrap;
}
