@import "@uiid/tokens/avatar.tokens.css";

.avatar-layers {
  aspect-ratio: 1;
  text-align: center;
  background-color: var(--shade-foreground);
  border-radius: var(--globals-border-radius);
  padding-inline: 0.5rem;
}

.avatar-initials {
  color: var(--shade-background);
  font-weight: 700;
  user-select: none;
}

.avatar-image {
  display: inline-block;
}

.avatar-name {
  white-space: nowrap;
  font-weight: 600;
}

.avatar-description {
  color: var(--shade-muted);
  white-space: nowrap;
}

.size-small {
  height: var(--avatar-size-small);
  min-width: var(--avatar-size-small);
}
.size-medium {
  height: var(--avatar-size-medium);
  min-width: var(--avatar-size-medium);
}
.size-large {
  height: var(--avatar-size-large);
  min-width: var(--avatar-size-large);
}
