@import "@uiid/tokens/badge.tokens.css";

.badge {
  --badge-bg: var(--shade-foreground);
  --badge-border: var(--globals-border-color);
  --badge-fg: var(--shade-background);

  background-color: var(--badge-bg);
  color: var(--badge-fg);
  display: inline-flex !important;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  border: var(--globals-border-width) solid var(--badge-border);
  border-radius: var(--badge-border-radius);
}

.badge-indicator {
  background-color: var(--badge-border);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.size-small {
  padding: var(--badge-size-sm-padding-y) var(--badge-size-sm-padding-x);
}
.size-medium {
  padding: var(--badge-size-md-padding-y) var(--badge-size-md-padding-x);
}
.size-large {
  padding: var(--badge-size-lg-padding-y) var(--badge-size-lg-padding-x);
}

.tone-positive {
  background-color: var(--tones-positive);
}
.tone-negative {
  background-color: var(--tones-negative);
}
.tone-warning {
  background-color: var(--tones-warning);
}
.tone-info {
  background-color: var(--tones-info);
}
