.drawer-overlay {
  position: fixed;
  inset: 0;
  background-color: color-mix(in srgb, var(--shade-background), transparent 40%);
}

.drawer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
  height: fit-content;
  color: var(--shade-foreground);
  background-color: var(--shade-surface);
  padding: var(--globals-padding-y) var(--globals-padding-x);

  &[data-vaul-drawer-direction="right"],
  &[data-vaul-drawer-direction="left"] {
    max-width: 50%;
    height: 100dvh;
  }

  &[data-vaul-drawer-direction="top"] {
    top: 0;
    bottom: auto;
  }

  &[data-vaul-drawer-direction="right"] {
    left: auto;
    right: 0;
  }
}
