@import "@uiid/tokens/component/overlays.tokens.css";
@import "@uiid/tokens/component/drawer.tokens.css";

.drawer-overlay {
  position: fixed;
  inset: 0;
  background-color: color-mix(in srgb, transparent, var(--shade-background) calc(var(--overlays-backdrop-opacity) * 100%));
  z-index: calc(var(--overlays-backdrop-zIndex) - 1);
}

.drawer-content {
  position: fixed;
  display: flex;
  bottom: var(--drawer-offset);
  left: var(--drawer-offset);
  right: var(--drawer-offset);
  z-index: var(--overlays-backdrop-zIndex);

  &[data-vaul-drawer-direction="top"],
  &[data-vaul-drawer-direction="bottom"] {
    min-height: var(--drawer-extends-vertical);
  }

  &[data-vaul-drawer-direction="right"],
  &[data-vaul-drawer-direction="left"] {
    width: 100%;
    max-width: var(--drawer-extends-horizontal);
    height: calc(100dvh - var(--drawer-offset) * 2);
  }

  &[data-vaul-drawer-direction]::after {
    background-color: transparent;
  }

  &[data-vaul-drawer-direction="top"] {
    top: var(--drawer-offset);
    bottom: auto;
  }

  &[data-vaul-drawer-direction="right"] {
    left: auto;
    right: var(--drawer-offset);
  }
}
