.button-content-slot {
  min-height: var(--adjusted-button-height);
  transition:
    transform var(--globals-transition-timing) ease,
    opacity calc(var(--globals-transition-timing) * 0.75) ease;
  transform: translate3d(0, 0, 0);
  align-content: center;
  text-align: center;

  opacity: 0;

  &[data-active="true"] {
    opacity: 1;
  }
}
