.button-content-container {
  height: var(--button-height);
  overflow: hidden;

  &[data-shift="true"] > * {
    transform: translate3d(0, calc(var(--adjusted-button-height) * -1), 0);
  }
}
.button-tooltip {
  padding-block: calc(var(--globals-padding-y) * 0.25);
  padding-inline: calc(var(--globals-padding-x) * 0.75);
  font-size: 0.75rem;
  font-weight: 500;
  border: var(--globals-border-width) solid var(--globals-border-color);
  border-radius: var(--globals-border-radius);
  background-color: var(--shade-surface);
  transform-origin: var(--globals-transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}
