.action-card {
  cursor: pointer;
  transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;

  &:hover {
    background-color: var(--shade-muted);
    scale: var(--card-scale-up);
  }

  &:active {
    scale: var(--card-scale-down);
  }
}
