[data-slot="formfield-bookend"] {
  /* --formfield-bookend-height: var(--formfield-size-md-height); */

  align-content: center;
  color: var(--input-bookend-color);
  font-size: var(--input-bookend-fontSize);
  font-weight: var(--input-bookend-fontWeight);
  text-wrap: nowrap;
  width: fit-content;

  &[data-position="before"][data-is-string="true"] {
    padding-inline-start: var(--formfield-paddingX);
  }

  &[data-position="after"][data-is-string="true"] {
    padding-inline-end: var(--formfield-paddingX);
  }
}
