[data-slot="formfield-bookend"] {
  --formfield-bookend-height: var(--formfield-size-md-height);

  align-content: center;
  color: var(--input-bookend-color);
  font-size: var(--input-bookend-fontSize);
  font-weight: var(--input-bookend-fontWeight);
  text-wrap: nowrap;
  width: fit-content;

  &[data-is-string="true"]:first-child {
    padding-inline-start: var(--formfield-paddingX);
  }
  &[data-is-string="true"]:last-child {
    padding-inline-end: var(--formfield-paddingX);
  }
}
