[data-slot="formfield-bookend"] {
  align-content: center;
  background-color: var(--forms-background);
  color: var(--input-bookend-color);
  font-size: var(--input-bookend-font-size);
  font-weight: var(--input-bookend-font-weight);
  overflow: hidden;
  text-wrap: nowrap;

  &[data-position="before"] {
    border-top-left-radius: var(--forms-border-radius);
    border-bottom-left-radius: var(--forms-border-radius);
    padding-inline: var(--forms-paddingX);

    &[data-bordered="true"] {
      border-right: var(--forms-border-width) solid var(--forms-border-color);
    }
  }

  &[data-position="after"] {
    border-top-right-radius: var(--forms-border-radius);
    border-bottom-right-radius: var(--forms-border-radius);
    padding-inline: var(--forms-paddingX);

    &[data-bordered="true"] {
      border-left: var(--forms-border-width) solid var(--forms-border-color);
    }

    &[data-bordered="true"] {
      border-left: var(--forms-border-width) solid var(--forms-border-color);
    }
  }
}
