[data-slot="formfield-bookend"] {
  --formfield-bookend-height: var(--formfield-size-md-height);

  align-content: center;
  color: var(--input-bookend-color);
  font-size: var(--input-bookend-fontSize);
  font-weight: var(--input-bookend-fontWeight);
  text-wrap: nowrap;
  width: fit-content;

  &[data-position="before"] {
    border-top-left-radius: var(--input-border-radius);
    border-bottom-left-radius: var(--input-border-radius);

    &[data-is-string="true"] {
      padding-inline-start: var(--formfield-paddingX);
    }
  }

  &[data-position="after"] {
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);

    &[data-is-string="true"] {
      padding-inline-end: var(--formfield-paddingX);
    }
  }
}
