@import "@uiid/tokens/globals.css";
@import "@uiid/typography/globals.css";
@import "@uiid/layout/globals.css";
@import "@uiid/buttons/globals.css";
@import "@uiid/cards/globals.css";
@import "@uiid/code/globals.css";
@import "@uiid/forms/globals.css";
@import "@uiid/interactive/globals.css";
@import "@uiid/overlays/globals.css";
