@layer uiid.globals, uiid.tokens, uiid.components, uiid.utilities;

@import "./css/globals.tokens.css";
@import "./css/colors.tokens.css";
@import "./css/spacing.tokens.css";
@import "./css/forms.tokens.css";

@layer uiid.globals {
  :root {
    color-scheme: light dark;
  }

  :root[data-theme="light"] {
    color-scheme: light;
  }
  :root[data-theme="dark"] {
    color-scheme: dark;
  }

  html,
  body {
    @media (pointer: fine) {
      overscroll-behavior: none;
    }
  }

  body {
    background-color: var(--shade-background);
    color: var(--shade-foreground);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }

  :is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
    margin: 0;
    padding: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  [data-is-popup] {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transform-origin: var(--globals-transform-origin);
    transition:
      transform var(--globals-transition-timing),
      opacity var(--globals-transition-timing);

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: scale(var(--globals-transform-scale));
    }

    &[data-instant] {
      transition-duration: 0ms;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
      text-decoration: none;
    }
  }

  .sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0;
    margin: -1px !important;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap !important;
    border-width: 0 !important;
  }
}
