@import "./colors/blue.css" layer(uiid.tokens.colors);
@import "./colors/green.css" layer(uiid.tokens.colors);
@import "./colors/neutral.css" layer(uiid.tokens.colors);
@import "./colors/orange.css" layer(uiid.tokens.colors);
@import "./colors/purple.css" layer(uiid.tokens.colors);
@import "./colors/red.css" layer(uiid.tokens.colors);
@import "./colors/yellow.css" layer(uiid.tokens.colors);

:root {
  --spacing_scale: 0.25rem;
  --spacing_scale_inline: var(--spacing_scale);
  --spacing_scale_block: var(--spacing_scale);
}
