.sidebar-group {
  position: relative;
  min-width: 0;

  [data-slot="list-item-group"] {
    padding: 0;
  }

  [data-collapsible="icon"][data-state="collapsed"] & [data-slot="sidebar-group-category"] {
    opacity: 0;
    /* margin-block: 0 !important; */
    overflow: hidden;
    /* display: none; */
  }
}
