.sidebar-inset {
  background-color: var(--shade-background);
  flex: 1;
  position: relative;

  /*
    "md:peer-data-[variant=inset]:m-2",
    "md:peer-data-[variant=inset]:ml-0",
    "md:peer-data-[variant=inset]:rounded-xl",
    "md:peer-data-[variant=inset]:peer-data-[state=collapsed]:ml-2"
  */
  @media (min-width: 768px) {
    [data-variant="inset"] ~ & {
      margin: 0.5rem;
      margin-inline-start: 0;
      border-radius: var(--globals-border-radius);
    }

    [data-variant="inset"][data-state="collapsed"] ~ & {
      margin-inline-start: 0.5rem;
    }
  }
}
