.sidebar-group-label {
  border-radius: var(--globals-border-radius);
  flex-shrink: 0;
  height: 2rem;

  & > svg {
    flex-shrink: 0;
    size: var(--globals-icon-size);
  }

  [data-collapsible="icon"] & {
    margin-block-start: -2rem;
    opacity: 0;
  }
}
