.sidebar-inset {
  background-color: var(--shade-background);
  flex: 1;
  position: relative;

  @media (min-width: 768px) {
    [data-variant="inset"] ~ & {
      margin: 0.5rem;
      margin-inline-start: 0;
      border-radius: var(--globals-border-radius);
    }

    [data-variant="inset"][data-state="collapsed"] ~ & {
      margin-inline-start: 0.5rem;
    }
  }
}
