.sidebar-inner {
  background-color: var(--shade-surface);
  overflow: hidden;

  [data-slot="sidebar"][data-variant="floating"] & {
    border-radius: var(--globals-border-radius);
    border: var(--globals-border-width) solid var(--shade-accent);
  }
}
