.sidebar-group-action {
  color: var(--shade-foreground);
  position: absolute;
  top: 0.875rem;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: var(--globals-border-radius);
  padding: 0;
  width: 1.25rem;
  transition: transform var(--globals-transition-duration) ease-in-out;

  & > svg {
    size: var(--globals-icon-size);
    flex-shrink: 0;
  }

  &::after {
    position: absolute;
    inset: -0.5rem;
  }

  @media (min-width: 768px) {
    &::after {
      display: none;
    }
  }

  [data-collapsible="icon"] & {
    display: none;
  }
}
