@import "@uiid/tokens/component/switch.tokens.css";

.switch-root {
  position: relative;
  display: flex;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 1px;
  border-radius: calc(var(--switch-height));
  outline: 1px solid var(--shade-halftone);
  outline-offset: -1px;
  background-color: var(--switch-bg);
  background-size: 6.5rem 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition-property: background-position, box-shadow, background-color;
  transition-duration-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
  transition-duration: var(--globals-transition-duration);
  width: var(--switch-width);
  height: var(--switch-height);

  &[data-checked] {
    background-position-x: 0%;
    background-color: var(--shade-halftone);
  }

  &:where(:disabled, [disabled], [data-disabled]) {
    opacity: var(--globals-disabled-opacity);
    pointer-events: none;
  }

  &:focus-visible {
    &::before {
      content: "";
      inset: 0;
      position: absolute;
      border-radius: inherit;
      outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
      outline-offset: var(--globals-outline-offset);
    }
  }
}

.switch-thumb {
  aspect-ratio: 1;
  height: 100%;
  border-radius: 100%;
  background-color: var(--switch-fg);
  transition: translate var(--globals-transition-duration);

  &[data-checked] {
    translate: calc(var(--switch-width) - var(--switch-height)) 0;
  }
}
