.autocomplete-popup {
  width: var(--anchor-width);
  max-height: min(var(--available-height), 23rem);
  max-width: var(--available-width);
  overflow-y: auto;
  scroll-padding-block: 0.5rem;
  overscroll-behavior: contain;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;

  padding-inline: 0.25rem;
}
