.autocomplete-positioner {
  outline: 0;
}

.autocomplete-popup {
  composes: popup from "@uiid/tokens/compositions.module.css";
  min-width: var(--anchor-width);
}

.autocomplete-item {
  composes: option from "@uiid/tokens/compositions.module.css";
}
