.rdp-root {
  --rdp-accent-color: var(--shade-accent);
  --rdp-day_button-border-radius: var(--globals-border-radius);
  --rdp-range_middle-background-color: var(--shade-muted);
  --rdp-outside-opacity: 0.25;
}
