:root {
  --purple-50: #ede7f6;
  --purple-100: #d1c4e9;
  --purple-200: #b39ddb;
  --purple-300: #9575cd;
  --purple-400: #7e57c2;
  --purple-500: #673ab7;
  --purple-600: #5e35b1;
  --purple-700: #512da8;
  --purple-800: #4527a0;
  --purple-900: #311b92;
}
