.event-wrapper {
  user-select: none;
  transition: scale calc(var(--globals-transition-timing) / 2) ease-in-out;

  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    text-box-trim: none;
  }

  &:not(:active):hover {
    scale: 1.025;
  }

  &[data-dragging] {
    cursor: grabbing;
    opacity: var(--globals-disabled-opacity);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  &[data-past-event] {
    text-decoration: line-through;
    opacity: var(--globals-disabled-opacity);
  }
}
