.event-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-inline: 0.25rem;
  text-align: left;
  font-weight: 500;
  user-select: none;

  &[data-dragging] {
    cursor: grabbing;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  &[data-past-event] {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &[data-first-day] {
    border-top-left-radius: var(--globals-border-radius);
    border-bottom-left-radius: var(--globals-border-radius);
  }

  &[data-last-day] {
    border-top-right-radius: var(--globals-border-radius);
    border-bottom-right-radius: var(--globals-border-radius);
  }

  &[data-first-day][data-last-day] {
    border-radius: var(--globals-border-radius);
  }
}
