.month-view {
  display: contents;
}

.month-view-weekdays {
  border-bottom: var(--globals-border-width) solid var(--globals-border-color);
}

.month-view-weeks {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  width: 100%;
}

.month-view-week {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));

  &:last-child > * {
    border-bottom: none;
  }
}

.month-view-day {
  border-bottom: var(--globals-border-width) solid var(--globals-border-color);
  border-right: var(--globals-border-width) solid var(--globals-border-color);
  transition: background-color var(--globals-transition-duration) ease-in-out;

  &[data-outside-cell] {
    background-color: var(--shade-surface);
    color: var(--shade-halftone);
  }

  &:last-child {
    border-right: none;
  }
}

.month-view-day-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;

  [data-today] & {
    background-color: var(--shade-foreground);
    color: var(--shade-background);
  }
}
