.month-carousel-slide {
  aspect-ratio: 2;
  width: 3rem;
  background-color: var(--shade-foreground);
  color: var(--shade-background);
  border-radius: calc(var(--globals-border-radius) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}
