.modal-backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: var(--shade-background);
  opacity: 0.2;
  transition: opacity var(--globals-transition-timing) cubic-bezier(0.45, 1.005, 0, 1.005);

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.modal-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--globals-transition-timing);

  width: 24rem;
  max-width: calc(100vw - 3rem);
  margin-top: -2rem;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(var(--globals-transform-scale));
  }
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
