:root {
  /** background properties */
  --input-background: var(--shade-background);
  --input-background-focus: color_mix(in srgb, var(--shade-background), var(--shade-foreground) 10%);

  /** text properties */
  --input-foreground: var(--shade-foreground);

  /** border properties */
  --input-border-color: var(--shade-foreground);
  --input-border-radius: 4px;
  --input-border-width: 1px;

  /** outline properties */
  --input-outline-color: var(--shade-foreground);
  --input-outline-offset: 0.125rem;
  --input-outline-style: solid;
  --input-outline-width: 0.125rem;

  /** valid colors */
  --input-border-valid: var(--green-500);
  --input-outline-valid: var(--green-500);

  /** invalid colors */
  --input-border-invalid: var(--red-500);
  --input-outline-invalid: var(--red-500);

  /** required properties */
  --required-content: attr(data-required-content);
  --required-color: var(--red-500);

  /** disabled properties */
  --input-disabled-opacity: 0.5;

  /** autofill properties */
  --input-autofill-background: var(--shade-background);
  --input-autofill-foreground: var(--shade-foreground);

  /** label_wrapper properties */
  --input-label-wrapper-gap: 0.5rem;

  /** label properties */
  --input-label-font-size: 0.875rem;
  --input-label-font-weight: 600;

  /** description properties */
  --input-description-font-size: 0.875rem;
  --input-description-font-weight: 400;
  --input-description-font-color: var(--shade-accent);

  /** placeholder properties */
  --input-placeholder-font-color: var(--shade-accent);

  /** bookend properties */
  --input-bookend-font-size: 0.75rem;
  --input-bookend-font-weight: 600;
  --input-bookend-font-color: var(--shade-foreground);

  /**
    * sizes 
    * TODO: combine with button sizes*/
  --formfield-font-size: 0.875rem;
  --formfield-line-height: 1.25rem;
  --formfield-padding-x: 1rem;

  --formfield-size-sm-height: 2rem;
  --formfield-size-sm-padding-x: 1rem;
  --formfield-size-sm-font-size: 0.875rem;

  --formfield-size-md-height: 3rem;
  --formfield-size-md-padding-x: 1.5rem;
  --formfield-size-md-font-size: 1rem;

  --formfield-size-lg-height: 4rem;
  --formfield-size-lg-padding-x: 2rem;
  --formfield-size-lg-font-size: 1.125rem;
}
