@import "@uiid/tokens/button.tokens.css";

.button {
  --adjusted-button-height: calc(var(--button-height) - var(--globals-border-width) * 2);
  --button-border-color: var(--button-bg);

  align-items: center;
  all: unset;
  background-color: var(--button-bg);
  border: var(--globals-border-width) solid var(--button-border-color);
  color: var(--button-fg);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: var(--button-fontSize);
  font-weight: var(--button-font-weight);
  height: var(--adjusted-button-height);
  justify-content: flex-start;
  overflow: hidden;
  padding-inline: calc(var(--button-padding-x) * 2);
  position: relative;
  transition: background-color var(--globals-transition-timing) ease-in-out;

  &:where(:hover, :active) {
    background-color: color-mix(in oklab, var(--button-bg) var(--button-mix-hover), var(--button-mix-color));
    border-color: color-mix(in oklab, var(--button-border-color) var(--button-mix-hover), var(--button-mix-color));
  }

  &:where([data-grows="true"]) {
    &:hover {
      scale: var(--button-scale-hover);
    }
    &:active {
      scale: var(--button-scale-active);
    }
  }

  &:focus {
    outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
  }

  /** Icon properties */
  svg {
    height: var(--globals-icon-size);
    flex-shrink: 0;
  }
  &:where([data-icon="standalone"]) {
    --button-height: auto;
    aspect-ratio: 1;
    padding: 0;
  }
  &:where([data-icon="before"]) {
    padding-inline-start: calc(var(--button-height) + var(--button-padding-x));
    padding-inline-end: var(--button-padding-x);
  }
  &:where([data-icon="after"]) {
    padding-inline-end: calc(var(--button-height) + var(--button-padding-x));
    padding-inline-start: var(--button-padding-x);
  }

  &:where([data-size="sm"]) {
    --button-fontSize: var(--forms-size-sm-fontSize);
    --button-height: var(--forms-size-sm-height);
    --button-padding-x: var(--button-size-sm-padding-x);
  }
  &:where([data-size="md"]) {
    --button-fontSize: var(--forms-size-md-fontSize);
    --button-height: var(--forms-size-md-height);
    --button-padding-x: var(--button-size-md-padding-x);
  }
  &:where([data-size="lg"]) {
    --button-fontSize: var(--forms-size-lg-fontSize);
    --button-height: var(--forms-size-lg-height);
    --button-padding-x: var(--button-size-lg-padding-x);
  }

  /** Variant properties */
  &:where([data-variant="subtle"]) {
    --button-bg: var(--button-variant-subtle-bg);
    --button-fg: var(--button-variant-subtle-fg);
    --button-border-color: var(--button-variant-subtle-border-color);
  }
  &:where([data-variant="inverted"]) {
    --button-bg: var(--button-variant-inverted-bg);
    --button-fg: var(--button-variant-inverted-fg);
    --button-border-color: var(--button-variant-inverted-bg);
    --button-mix-color: var(--shade-foreground);
    --globals-outline-color: var(--button-variant-inverted-bg);
    color: var(--button-fg);
  }

  &:where([data-variant="ghost"]) {
    --button-bg: transparent;
    --button-fg: var(--button-variant-inverted-fg);
    --button-border-color: transparent;
    --button-mix-color: var(--shade-foreground);
    color: var(--button-fg);
  }

  /** Shapes */
  &:where([data-shape="rounded"]) {
    border-radius: var(--globals-border-radius);
  }
  &:where([data-shape="pill"]) {
    border-radius: 99999px;
  }

  /** Disabled */
  &:where([aria-disabled="true"]) {
    opacity: var(--globals-disabled-opacity);
    pointer-events: none;
  }

  &:where([data-square="true"]) {
    aspect-ratio: 1;
    padding: 0;
  }
}
