@import "@uiid/tokens/button.tokens.css";

.button {
  --button-bg: var(--shade-foreground);
  --button-fg: var(--shade-background);

  /** Globals properties */
  border: var(--globals-border-width) solid var(--button-border-color);
  border-radius: var(--globals-border-radius);
  transition: all var(--globals-transition-timing) ease-in-out;
  /** Forms properties */
  padding-inline: var(--button-padding-x);
  /** Button properties */
  background-color: var(--button-bg);
  color: var(--button-fg);
  font-weight: var(--button-font-weight);

  display: flex;
  align-items: center;
  justify-content: center;

  &:where(:hover, :active) {
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
  }

  &:where(:focus) {
    transition: none;
    outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
  }

  &:where([aria-disabled="true"], [disabled]) {
    opacity: var(--globals-disabled-opacity);
    pointer-events: none;
  }

  svg {
    flex-shrink: 0;
    height: var(--globals-icon-size);
    width: auto;
    vertical-align: middle;
  }
}

.variant-subtle {
  background-color: var(--button-variant-subtle-bg);
  border-color: var(--button-variant-subtle-border-color);
  color: var(--button-variant-subtle-fg);
  &:where(:hover, :active) {
    background-color: var(--button-variant-subtle-bg-hover);
  }
}

.variant-inverted {
  background-color: var(--button-variant-inverted-bg);
  color: var(--button-variant-inverted-fg);
  border-color: var(--button-variant-inverted-bg);
  outline-color: var(--button-variant-inverted-bg);
  &:where(:hover, :active) {
    background-color: var(--button-variant-inverted-bg-hover);
  }
}

.size-small {
  height: var(--button-size-sm-height);
  padding-inline: var(--button-size-sm-padding-x);
}
.size-medium {
  height: var(--button-size-md-height);
  padding-inline: var(--button-size-md-padding-x);
}
.size-large {
  height: var(--button-size-lg-height);
  padding-inline: var(--button-size-lg-padding-x);
}

.toggle-grows {
  &:hover {
    scale: var(--button-scale-hover);
  }
  &:active {
    scale: var(--button-scale-active);
  }
}

.toggle-pill {
  border-radius: 99999px;
}

.toggle-square {
  aspect-ratio: 1;
  padding-inline: 0;
}

.toggle-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-bg);
  &:where(:hover, :active) {
    background-color: transparent;
    border-color: transparent;
  }
}
