@import "@uiid/tokens/component/button.tokens.css";

.button {
  --button-bg: var(--shade-foreground);
  --button-fg: var(--shade-background);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-inline: var(--button-padding-x);
  background-color: var(--button-bg);
  color: var(--button-fg);
  font-weight: var(--button-font-weight);
  border: var(--globals-border-width) solid var(--button-border-color);
  border-radius: var(--globals-border-radius);
  transition-property: background-color, border-color, color, opacity, scale;
  transition-duration: var(--globals-transition-duration);
  transition-timing-function: ease-in-out;
  text-decoration: none;

  &:where(:hover, :active) {
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
  }

  &:where(:active) {
    scale: 0.99;
  }

  &:focus-visible {
    outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
  }

  &:where([aria-disabled="true"], [disabled]) {
    opacity: var(--globals-disabled-opacity);
    pointer-events: none;
  }

  svg {
    flex-shrink: 0;
    height: var(--globals-icon-size);
    width: auto;
    vertical-align: middle;
  }
}

.button-content-container {
  scale: 1;
  transition-property: opacity, scale;
  transition-duration: var(--globals-transition-duration);
  transition-timing-function: ease-in-out;

  &[data-loading="true"] {
    opacity: 0;
    scale: 0.9;
  }
}

.button-spinner {
  margin-inline: auto;
  opacity: 0;
  scale: 0.6;
  transition-property: opacity, scale;
  transition-duration: calc(var(--globals-transition-duration) / 2);
  transition-timing-function: ease-in-out;

  &[data-loading="true"] {
    scale: 1;
    opacity: 1;
  }
}

.variant-subtle {
  background-color: var(--button-variant-subtle-bg);
  border-color: var(--button-variant-subtle-border-color);
  color: var(--button-variant-subtle-fg);
  &:where(:hover, :active) {
    background-color: var(--button-variant-subtle-bg-hover);
  }
}

.variant-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-bg);
  &:where(:hover, :active) {
    background-color: color-mix(in oklab, var(--button-bg), transparent 90%);
    border-color: transparent;
  }
}

.variant-inverted {
  background-color: var(--button-variant-inverted-bg);
  color: var(--button-variant-inverted-fg);
  border-color: var(--button-variant-inverted-bg);
  outline-color: var(--button-variant-inverted-bg);
  &:where(:hover, :active) {
    background-color: var(--button-variant-inverted-bg-hover);
  }
}

.size-xsmall {
  font-size: var(--button-size-xs-font-size);
  height: var(--button-size-xs-height);
  padding-inline: var(--button-size-xs-padding-x);
}

.size-small {
  font-size: var(--button-size-sm-font-size);
  height: var(--button-size-sm-height);
  padding-inline: var(--button-size-sm-padding-x);
}
.size-medium {
  font-size: var(--button-size-md-font-size);
  height: var(--button-size-md-height);
  padding-inline: var(--button-size-md-padding-x);
}
.size-large {
  font-size: var(--button-size-lg-font-size);
  height: var(--button-size-lg-height);
  padding-inline: var(--button-size-lg-padding-x);
}

.shape-pill {
  border-radius: 99999px;
}

.shape-square {
  aspect-ratio: 1;
  padding-inline: 0;
}

.shape-circle {
  border-radius: 99999px;
  aspect-ratio: 1;
  padding-inline: 0;
}

.fullwidth {
  width: -webkit-fill-available;
  width: 100%;
}

.tone-positive {
  background-color: var(--tone-positive);
  border-color: var(--tone-positive);
  outline-color: var(--tone-positive);
  color: var(--tone-positive-surface);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tone-positive), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &.variant-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--tone-positive);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tone-positive), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
.tone-critical {
  background-color: var(--tone-critical);
  border-color: var(--tone-critical);
  outline-color: var(--tone-critical);
  color: var(--tone-critical-surface);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tone-critical), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &.variant-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--tone-critical);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tone-critical), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
.tone-warning {
  background-color: var(--tone-warning);
  border-color: var(--tone-warning);
  outline-color: var(--tone-warning);
  color: var(--tone-warning-surface);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tone-warning), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &.variant-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--tone-warning);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tone-warning), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
.tone-info {
  background-color: var(--tone-info);
  border-color: var(--tone-info);
  outline-color: var(--tone-info);
  color: var(--tone-info-surface);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tone-info), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &.variant-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--tone-info);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tone-info), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
