@import "@uiid/tokens/button.tokens.css";

.button {
  --button-bg: var(--shade-foreground);
  --button-fg: var(--shade-background);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-inline: var(--button-padding-x);
  background-color: var(--button-bg);
  color: var(--button-fg);
  font-weight: var(--button-font-weight);
  border: var(--globals-border-width) solid var(--button-border-color);
  border-radius: var(--globals-border-radius);
  transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;
  text-decoration: none;

  &:where(:hover, :active) {
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
  }

  &:where(:focus) {
    outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
  }

  &:where([aria-disabled="true"], [disabled]) {
    opacity: var(--globals-disabled-opacity);
    pointer-events: none;
  }

  svg {
    flex-shrink: 0;
    height: var(--globals-icon-size);
    width: auto;
    vertical-align: middle;
  }
}

.button-content-container {
  scale: 1;
  transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;

  &[data-loading="true"] {
    opacity: 0;
    scale: 0.9;
  }
}

.button-spinner {
  margin-inline: auto;
  opacity: 0;
  scale: 0.6;
  transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;

  &[data-loading="true"] {
    scale: 1;
    opacity: 1;
  }
}

.variant-subtle {
  background-color: var(--button-variant-subtle-bg);
  border-color: var(--button-variant-subtle-border-color);
  color: var(--button-variant-subtle-fg);
  &:where(:hover, :active) {
    background-color: var(--button-variant-subtle-bg-hover);
  }
}

.variant-inverted {
  background-color: var(--button-variant-inverted-bg);
  color: var(--button-variant-inverted-fg);
  border-color: var(--button-variant-inverted-bg);
  outline-color: var(--button-variant-inverted-bg);
  &:where(:hover, :active) {
    background-color: var(--button-variant-inverted-bg-hover);
  }
}

.size-small {
  font-size: var(--button-size-sm-font-size);
  height: var(--button-size-sm-height);
  padding-inline: var(--button-size-sm-padding-x);
}
.size-medium {
  font-size: var(--button-size-md-font-size);
  height: var(--button-size-md-height);
  padding-inline: var(--button-size-md-padding-x);
}
.size-large {
  font-size: var(--button-size-lg-font-size);
  height: var(--button-size-lg-height);
  padding-inline: var(--button-size-lg-padding-x);
}

.toggle-grows {
  &:hover {
    scale: var(--button-scale-hover);
  }
  &:active {
    scale: var(--button-scale-active);
  }
}

.toggle-pill {
  border-radius: 99999px;
}

.toggle-square {
  aspect-ratio: 1;
  padding-inline: 0;
}

.toggle-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-bg);
  &:where(:hover, :active) {
    background-color: color-mix(in oklab, var(--button-bg-hover), transparent 80%);
    border-color: transparent;
  }
}

.tone-positive {
  background-color: var(--tones-positive);
  border-color: var(--tones-positive);
  outline-color: var(--tones-positive);
  color: var(--black);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tones-positive), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &:where([data-ghost="true"]) {
    background-color: transparent;
    border-color: transparent;
    color: var(--tones-positive);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tones-positive), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
.tone-negative {
  background-color: var(--tones-negative);
  border-color: var(--tones-negative);
  outline-color: var(--tones-negative);
  color: var(--black);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tones-negative), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &:where([data-ghost="true"]) {
    background-color: transparent;
    border-color: transparent;
    color: var(--tones-negative);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tones-negative), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
.tone-warning {
  background-color: var(--tones-warning);
  border-color: var(--tones-warning);
  outline-color: var(--tones-warning);
  color: var(--black);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tones-warning), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &:where([data-ghost="true"]) {
    background-color: transparent;
    border-color: transparent;
    color: var(--tones-warning);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tones-warning), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
.tone-info {
  background-color: var(--tones-info);
  border-color: var(--tones-info);
  outline-color: var(--tones-info);
  color: var(--black);

  &:where(:hover, :active) {
    --active-color: color-mix(in oklab, var(--tones-info), var(--shade-background) 10%);
    background-color: var(--active-color);
  }

  &:where([data-ghost="true"]) {
    background-color: transparent;
    border-color: transparent;
    color: var(--tones-info);

    &:where(:hover, :active) {
      --active-color: color-mix(in oklab, var(--tones-info), transparent 80%);
      background-color: var(--active-color);
    }
  }
}
