.tooltip-panel {
  display: flex;
  border: 1px solid var(--shade-muted);
  background-color: var(--shade-surface);
  border-radius: 0.375rem;
  padding: 0.125rem;
}

.tooltip-popup {
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  background-color: var(--shade-surface);
  border: 1px solid var(--shade-muted);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }
}
