@import "@uiid/tokens/component/checkbox.tokens.css";

.checkbox {
  /** todo: replace with default */
  width: var(--checkbox-size-sm);
  aspect-ratio: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--checkbox-border-radius);
  outline: 0;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all var(--globals-transition-duration) ease-in-out;

  &[data-unchecked] {
    border: 1px solid var(--forms-border-color);
    background-color: var(--forms-bg);
    &:hover {
      background-color: var(--forms-bg-hover);
    }
  }

  &[data-checked] {
    background-color: var(--shade-foreground);
  }

  &:focus-visible {
    outline: 2px solid var(--shade-foreground);
    outline-offset: 2px;
  }

  &:where(:disabled, [disabled], [data-disabled]) {
    opacity: var(--globals-disabled-opacity);
    pointer-events: none;
  }

  &::after {
    position: absolute;
    inset: -0.25rem;
  }
}

.checkbox-label:has(:disabled, [disabled], [data-disabled]) {
  opacity: var(--globals-disabled-opacity);
  pointer-events: none;
}

.checkbox-indicator {
  display: flex;
  color: var(--shade-background);

  &[data-unchecked] {
    display: none;
  }
}

.checkbox-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.size-small {
  width: var(--checkbox-size-sm);
}
.size-medium {
  width: var(--checkbox-size-md);
}
.size-large {
  width: var(--checkbox-size-lg);
}

.toggle-bordered {
  border: var(--globals-border-width) solid var(--forms-border-color);
  border-radius: var(--globals-border-radius);
  padding: var(--forms-padding-y) var(--forms-padding-x);
  color: var(--shade-foreground);
  transition: all var(--globals-transition-duration) ease-in-out;

  &:focus-within {
    outline: var(--globals-outline-width) var(--globals-outline-style) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
  }

  &:has([data-checked]) {
    background-color: var(--forms-bg);
  }
}

.toggle-reversed {
  flex-direction: row-reverse;
}
