@import "@uiid/tokens/checkbox.tokens.css";

.label {
  &[data-bordered] {
    border: var(--globals-border-width) solid var(--forms-border-color);
    border-radius: var(--globals-border-radius);
    padding: var(--forms-padding-y) var(--forms-padding-x);
    color: var(--shade-foreground);

    &:focus-within {
      outline: var(--globals-outline-width) var(--globals-outline-style) var(--globals-outline-color);
      outline-offset: var(--globals-outline-offset);
    }

    &:has([data-checked]) {
      background-color: var(--forms-background);
    }
  }

  &[data-reversed="true"] {
    flex-direction: row-reverse;
  }
}

.checkbox {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--checkbox-border-radius);
  outline: 0;
  position: relative;
  border: none;
  cursor: pointer;

  &[data-unchecked] {
    border: 1px solid var(--forms-border-color);
    background-color: var(--forms-background);
    &:hover {
      background-color: var(--forms-backgroundHover);
    }
  }

  &[data-checked] {
    background-color: var(--shade-foreground);
  }

  &:focus-visible {
    outline: 2px solid var(--shade-foreground);
    outline-offset: 2px;
  }

  &:where([data-size="sm"]) {
    --checkbox-size: var(--checkbox-size-sm);
  }
  &:where([data-size="md"]) {
    --checkbox-size: var(--checkbox-size-md);
  }
  &:where([data-size="lg"]) {
    --checkbox-size: var(--checkbox-size-lg);
  }

  &::after {
    position: absolute;
    inset: -0.25rem;
  }
}

.checkbox-indicator {
  display: flex;
  color: var(--shade-background);

  &[data-unchecked] {
    display: none;
  }
}

.checkbox-icon {
  width: 0.75rem;
  height: 0.75rem;
}
