.collapsible-panel {
  height: var(--collapsible-panel-height);
  overflow: hidden;
  transition: all var(--globals-transition-duration) ease-out;

  &[data-instant] {
    transition: none;
  }

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}
