.slider-control {
  flex: 1;
  min-width: 12rem;
  min-height: 1rem;
  touch-action: none;
  user-select: none;
}

.slider-track {
  width: 100%;
  height: 0.25rem;
  background-color: var(--shade-halftone);
  box-shadow: inset 0 0 0 1px var(--shade-muted);
  border-radius: 0.25rem;
  user-select: none;
}

.slider-indicator {
  border-radius: 0.25rem;
  background-color: var(--shade-accent);
  user-select: none;
}

.slider-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--shade-foreground);
  outline: 1px solid var(--shae-accent);
  user-select: none;

  &:has(:focus-visible) {
    outline: 2px solid var(--shade-foreground);
  }
}
