.table-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  caption-side: bottom;
  font-size: 0.875rem;
  border-collapse: collapse;
  table-layout: auto;
}
