[data-slot="alert-dismiss"] {
  margin-left: auto;
  background-color: transparent;
  border: none;

  align-content: center;

  svg {
    cursor: pointer;
    transition: all 50ms ease-in-out;

    &:hover {
      scale: var(--alert-icon-scale);
    }
  }
}
