[uiid="status"] {
  display: inline-flex;
}

[data-slot="status-dot"] {
  aspect-ratio: 1;
  background-color: var(--shade-foreground);
  border-radius: 99999px;
  display: inline-block;
  width: 0.5rem;
}
