.Viewport {
  /* Direction multiplier: -1 for bottom (stack up), 1 for top (stack down) */
  --direction-multiplier: -1;

  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  bottom: var(--globals-padding-y);
  right: var(--globals-padding-x);

  &[data-position="top"] {
    --direction-multiplier: 1;
    top: var(--globals-padding-y);
    bottom: auto;
  }
}

.Toast {
  --gap: 0.75rem;
  --peek: 0.75rem;
  --scale: calc(max(0, 1 - (var(--toast-index) * 0.1)));
  --shrink: calc(1 - var(--scale));
  --height: var(--toast-frontmost-height, var(--toast-height));
  --offset-y: calc(
    var(--direction-multiplier) * var(--toast-offset-y) + var(--direction-multiplier) * (var(--toast-index) * var(--gap)) +
      var(--toast-swipe-movement-y)
  );

  background: var(--shade-surface);
  color: var(--shade-foreground);
  border: var(--globals-border-width) solid var(--globals-border-color);
  border-radius: var(--globals-border-radius);
  padding: var(--globals-padding-x) var(--globals-padding-y);

  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
  background-clip: padding-box;
  transform-origin: bottom center;
  margin-inline: auto;
  user-select: none;

  .Viewport[data-position="top"] & {
    top: 0;
    bottom: auto;
    transform-origin: top center;
  }

  z-index: calc(1000 - var(--toast-index));
  height: var(--height);
  transform: translateX(var(--toast-swipe-movement-x))
    translateY(
      calc(
        var(--toast-swipe-movement-y) + var(--direction-multiplier) * (var(--toast-index) * var(--peek)) + var(--direction-multiplier) *
          (var(--shrink) * var(--height))
      )
    )
    scale(var(--scale));

  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s,
    height 0.15s;

  &[data-expanded] {
    transform: translateX(var(--toast-swipe-movement-x)) translateY(var(--offset-y));
    height: var(--toast-height);
  }

  &[data-starting-style] {
    transform: translateY(calc(var(--direction-multiplier) * -150%));
  }

  &[data-limited] {
    opacity: 0;
  }

  &[data-ending-style] {
    opacity: 0;
    transform: translateY(calc(var(--direction-multiplier) * -150%));

    &[data-swipe-direction="up"] {
      transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
    }
    &[data-swipe-direction="left"] {
      transform: translateX(calc(var(--toast-swipe-movement-x) - 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction="right"] {
      transform: translateX(calc(var(--toast-swipe-movement-x) + 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction="down"] {
      transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(var(--gap) + 1px);
  }

  .Viewport[data-position="bottom"] &::after {
    top: 100%;
  }

  .Viewport[data-position="top"] &::after {
    bottom: 100%;
  }
}

.Content {
  overflow: hidden;
  transition: opacity 0.25s;

  &[data-behind] {
    opacity: 0;
  }

  &[data-expanded] {
    opacity: 1;
  }
}

.Title {
  font-weight: 500;
  font-size: 0.975rem;
  line-height: 1.25rem;
  margin: 0;
}

.Description {
  font-size: 0.925rem;
  line-height: 1.25rem;
  margin: 0;
}

.Close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0;
  border: var(--globals-border-width) solid var(--globals-border-color);
  background: var(--shade-background);
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  color: var(--shade-foreground);

  &:hover {
    background-color: var(--color-gray-100);
  }
}
