@import "@uiid/tokens/list.tokens.css";

.list-item {
  padding: var(--list-item-padding-y) var(--list-item-padding-x);
  border-radius: var(--globals-border-radius);
  transition: all var(--globals-transition-timing) ease-in-out;

  &:not([data-disabled]):where(:hover, [data-highlighted]) {
    background-color: var(--shade-accent);
  }

  &:where([data-disabled]) {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
