@import "@uiid/tokens/list.tokens.css";

.list-item-group {
  padding: var(--list-padding-y) var(--list-padding-x);
}

.list-item-group-collapsible-trigger {
  border: none;
  background-color: transparent;
  color: var(--shade-foreground);
  padding-inline: 0.5rem;
  border-radius: var(--globals-border-radius);

  &:is(button) {
    cursor: pointer;

    &:hover {
      background-color: var(--shade-accent);
    }

    &:active {
      background-color: var(--shade-halftone);
    }

    &:focus-visible {
      background-color: var(--shade-surface);
      border-radius: var(--globals-border-radius);
      outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
      outline-offset: var(--globals-outline-offset);
    }
  }
}

.list-item-group-category {
  min-height: var(--list-group-category-minHeight);
  align-content: center;
  padding-inline: 0.25rem;
}

.list-item-panel {
  position: relative;
  gap: 0.5rem;
  padding-inline-start: 0.875rem;
  list-style: none;
}
