.list-text-label {
  display: list-item;
  min-height: var(--globals-icon-size);
  align-content: center;

  :is(ol) &::marker {
    font-size: 0.625rem;
    font-weight: 700;
  }
}

.list-text-description {
  color: var(--shade-accent);
}
