.input {
  background-color: var(--forms-bg);
  border-width: var(--globals-border-width);
  border-style: solid;
  border-color: var(--forms-border-color);
  border-radius: var(--globals-border-radius);
  color: var(--shade-foreground);
  font-size: var(--forms-font-size);
  outline: var(--globals-outline-width) var(--globals-outline-color);
  outline-offset: var(--globals-outline-offset);
  padding: var(--forms-padding-y) var(--forms-padding-x);
  transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;
  line-height: 1;

  /** Hover */
  &:hover {
    background-color: var(--forms-bg-hover);
  }

  /** Focus */
  &:focus {
    background-color: var(--forms-bg-focus);
    outline-style: var(--globals-outline-style);
  }

  /** Disabled */
  &:where(:disabled, [disabled], [data-disabled]) {
    pointer-events: none;
    opacity: var(--globals-disabled-opacity);
  }

  /** Invalid */
  &[data-invalid] {
    border-color: var(--tone-critical);
    outline-color: var(--tone-critical);
  }

  /** Hack to prevent browser-assigned autofill color */
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }
}

.size-small {
  font-size: var(--forms-size-sm-font-size);
  height: var(--forms-size-sm-height);
  padding-inline: var(--forms-size-sm-padding-x);
}
.size-medium {
  font-size: var(--forms-size-md-font-size);
  height: var(--forms-size-md-height);
  padding-inline: var(--forms-size-md-padding-x);
}
.size-large {
  font-size: var(--forms-size-lg-font-size);
  height: var(--forms-size-lg-height);
  padding-inline: var(--forms-size-lg-padding-x);
}

.toggle-fullwidth {
  width: 100%;
  width: -webkit-fill-available;
}

.toggle-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--shade-foreground);
  outline-color: transparent;

  &::placeholder {
    transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;
  }
  &:not(:focus)::placeholder {
    color: var(--shade-foreground);
  }

  &:hover {
    background-color: var(--forms-bg-hover);
  }
}
