.input {
  background-color: var(--forms-background);
  border: var(--globals-border-width) solid var(--forms-border-color);
  border-radius: var(--globals-border-radius);
  color: var(--shade-foreground);
  font-size: var(--forms-fontSize);
  outline: var(--globals-outline-width) var(--globals-outline-color);
  outline-offset: var(--globals-outline-offset);
  padding: var(--forms-padding-y) var(--forms-padding-x);
  transition: all calc(var(--globals-transition-timing) / 2) ease-in-out;

  /** Hover */
  &:hover {
    background-color: var(--forms-backgroundHover);
  }

  /** Focus */
  &:focus {
    background-color: var(--forms-backgroundFocus);
    outline-style: var(--globals-outline-style);
  }

  /** Disabled */
  &:disabled {
    border-style: dashed;
    pointer-events: none;
    opacity: var(--forms-state-disabled-opacity);
  }

  /** Invalid */
  &[data-invalid] {
    border-color: var(--tone-negative);
    outline-color: var(--tone-negative);
  }

  /** Hack to prevent browser-assigned autofill color */
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }
}

.size-small {
  font-size: var(--forms-size-small-fontSize);
}
.size-medium {
  font-size: var(--forms-size-medium-fontSize);
}
.size-large {
  font-size: var(--forms-size-large-fontSize);
}

.toggle-fullwidth {
  width: 100%;
  width: -webkit-fill-available;
}
