@import "@uiid/tokens/overlays.tokens.css";

.modal-backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: var(--shade-background);
  opacity: var(--overlays-backdrop-opacity);
  transition: opacity var(--globals-transition-timing) cubic-bezier(0.45, 1.005, 0, 1.005);
  z-index: 2;

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.modal-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--globals-transition-timing);
  z-index: 3;

  max-width: 40rem;
  width: calc(100vw - 3rem);
  margin-top: -2rem;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(var(--globals-transform-scale-down));
  }
}
