[data-slot="formfield-label"] {
  font-size: var(--input-label-fontSize);
  font-weight: var(--input-label-fontWeight);

  &[data-required="true"] {
    display: inline-block;

    &::after {
      content: attr(data-required-content);
      color: var(--input-required-color);
    }
  }
}
