.frame {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  position: relative;
}

.scaler {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  transform: scale(0.3333);
  transform-origin: top left;
  pointer-events: none;
}
