[data-slot="formfield"] {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  gap: var(--input-label-wrapperGap);

  [data-slot="formfield-slots"]:has([uiid="select"]) {
    width: -webkit-fill-available;
  }
}
