.combobox-popup {
  min-width: var(--anchor-width);
}

.combobox-input-wrapper {
  position: relative;

  /* &:has(.Clear) .Input {
    padding-right: calc(0.5rem + 1.5rem * 2);
  } */
}

.combobox-actions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.combobox-action {
  all: unset;
  cursor: text;
  width: 1.5rem;
  height: 2.5rem;
  color: var(--shade-accent);
  border: none;
  padding: 0;
  border-radius: 0.25rem;
  background: none;
}

.combobox-positioner {
  outline: 0;
}

.combobox-item {
  &:focus-visible {
    background-color: var(--shade-muted);
  }
}
