@import "@uiid/tokens/typography.tokens.css";

.text {
  /* shared styles */
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  text-wrap: pretty;
  text-underline-offset: 5%;

  code {
    margin-inline: 0.25em;
    font-weight: 600;
    color: var(--shade-accent);
  }

  /* level styles */
  &:where([level="-1"]) {
    font-size: calc(var(--typography-text-1-size) * 0.75);
    font-weight: calc(var(--typography-text-1-weight) * 0.75);
    letter-spacing: calc(var(--typography-text-1-leading) * 0.75);
    line-height: calc(var(--typography-text-1-lineHeight) * 0.75);
  }
  &:where([level="0"]) {
    font-size: var(--typography-text-0-size);
    font-weight: var(--typography-text-0-weight);
    letter-spacing: var(--typography-text-0-leading);
    line-height: var(--typography-text-0-lineHeight);
  }
  &:where([level="1"]) {
    font-size: var(--typography-text-1-size);
    font-weight: var(--typography-text-1-weight);
    letter-spacing: var(--typography-text-1-leading);
    line-height: var(--typography-text-1-lineHeight);
  }
  &:where([level="2"]) {
    font-size: var(--typography-text-2-size);
    font-weight: var(--typography-text-2-weight);
    letter-spacing: var(--typography-text-2-leading);
    line-height: var(--typography-text-2-lineHeight);
  }
  &:where([level="3"]) {
    font-size: var(--typography-text-3-size);
    font-weight: var(--typography-text-3-weight);
    letter-spacing: var(--typography-text-3-leading);
    line-height: var(--typography-text-3-lineHeight);
  }
  &:where([level="4"]) {
    font-size: var(--typography-text-4-size);
    font-weight: var(--typography-text-4-weight);
    letter-spacing: var(--typography-text-4-leading);
    line-height: var(--typography-text-4-lineHeight);
  }
  &:where([level="5"]) {
    font-size: var(--typography-text-5-size);
    font-weight: var(--typography-text-5-weight);
    letter-spacing: var(--typography-text-5-leading);
    line-height: var(--typography-text-5-lineHeight);
  }
  &:where([level="6"]) {
    font-size: var(--typography-text-6-size);
    font-weight: var(--typography-text-6-weight);
    letter-spacing: var(--typography-text-6-leading);
    line-height: var(--typography-text-6-lineHeight);
  }
  &:where([level="7"]) {
    font-size: var(--typography-text-7-size);
    font-weight: var(--typography-text-7-weight);
    letter-spacing: var(--typography-text-7-leading);
    line-height: var(--typography-text-7-lineHeight);
  }
  &:where([level="8"]) {
    font-size: var(--typography-text-8-size);
    font-weight: var(--typography-text-8-weight);
    letter-spacing: var(--typography-text-8-leading);
    line-height: var(--typography-text-8-lineHeight);
  }
}
