@import "@uiid/tokens/primitives/typography.tokens.css";

.text {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  text-wrap: pretty;
  text-underline-offset: 5%;
  letter-spacing: -0.01em;

  code {
    margin-inline: 0.25em;
    font-weight: 600;
    color: var(--shade-muted);
  }
}

.text-size--1 {
  font-size: var(--text--1-font-size);
  font-weight: var(--text--1-font-weight);
  line-height: var(--text--1-line-height);
}
.text-size-0 {
  font-size: var(--text-0-font-size);
  font-weight: var(--text-0-font-weight);
  line-height: var(--text-0-line-height);
}
.text-size-1 {
  font-size: var(--text-1-font-size);
  font-weight: var(--text-1-font-weight);
  line-height: var(--text-1-line-height);
}
.text-size-2 {
  font-size: var(--text-2-font-size);
  font-weight: var(--text-2-font-weight);
  line-height: var(--text-2-line-height);
}
.text-size-3 {
  font-size: var(--text-3-font-size);
  font-weight: var(--text-3-font-weight);
  line-height: var(--text-3-line-height);
}
.text-size-4 {
  font-size: var(--text-4-font--size);
  font-weight: var(--text-4-font-weight);
  line-height: var(--text-4-line-height);
}
.text-size-5 {
  font-size: var(--text-5-font-size);
  font-weight: var(--text-5-font-weight);
  line-height: var(--text-5-line-height);
}
.text-size-6 {
  font-size: var(--text-6-font-size);
  font-weight: var(--text-6-font-weight);
  line-height: var(--text-6-line-height);
}
.text-size-7 {
  font-size: var(--text-7-font-size);
  font-weight: var(--text-7-font-weight);
  line-height: var(--text-7-line-height);
}
.text-size-8 {
  font-size: var(--text-8-font-size);
  font-weight: var(--text-8-font-weight);
  line-height: var(--text-8-line-height);
}

.shade-background {
  color: var(--shade-background);
}
.shade-surface {
  color: var(--shade-surface);
}
.shade-accent {
  color: var(--shade-accent);
}
.shade-halftone {
  color: var(--shade-halftone);
}
.shade-muted {
  color: var(--shade-muted);
}
.shade-foreground {
  color: var(--shade-foreground);
}

.tone-positive {
  color: var(--tone-positive);
}
.tone-critical {
  color: var(--tone-critical);
}
.tone-warning {
  color: var(--tone-warning);
}
.tone-info {
  color: var(--tone-info);
}

.toggle-bold {
  font-weight: 700;
}

.toggle-center {
  text-align: center;
}

.toggle-underline {
  text-decoration-line: underline;
}

.toggle-no-underline {
  text-decoration-line: none;
}

.toggle-strikethrough {
  text-decoration-line: line-through;
}

.toggle-balance {
  text-wrap: balance;
}

.family-mono {
  font-family: var(--font-mono);
}

.family-serif {
  font-family: var(--font-serif);
}

.family-sans {
  font-family: var(--font-sans);
}

.weight-bold {
  font-weight: 700;
}
.weight-normal {
  font-weight: 400;
}
.weight-light {
  font-weight: 300;
}
.weight-thin {
  font-weight: 100;
}
