.carousel-slide {
  --gap: calc(var(--carousel-slide-gap) * var(--spacing-scale));

  flex: 0 0 var(--carousel-slide-size);
  min-width: 0;
  max-width: 100%;
  margin-inline: var(--gap);

  [data-orientation="vertical"] & {
    margin-block: var(--gap);
    margin-inline: auto;
  }
}
