@import "@uiid/tokens/component/tabs.tokens.css";

.tabs-list {
  position: relative;
  z-index: 0;
  gap: 8px;
  background-color: var(--shade-surface);
  border: var(--globals-border-width) solid var(--globals-border-color);
  border-radius: var(--globals-border-radius);
  height: var(--tabs-tab-height);

  &:where([data-size="sm"]) {
    --tabs-tab-height: var(--forms-size-sm-height);
  }
  &:where([data-size="md"]) {
    --tabs-tab-height: var(--forms-size-md-height);
  }
  &:where([data-size="lg"]) {
    --tabs-tab-height: var(--forms-size-lg-height);
  }

  &[data-ghost] {
    background-color: transparent;
    border-color: transparent;
  }
}

.tab {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  appearance: none;
  font-weight: 700;
  cursor: pointer;
  background: none;
  color: var(--shade-muted);
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  padding-inline: var(--globals-padding-x);
  height: var(--tabs-tab-height);
  border-radius: var(--globals-border-radius);
  transition: color var(--globals-transition-duration) ease-in-out;

  &[data-active] {
    pointer-events: none;
    color: var(--shade-background);
  }

  &:not([data-active]):hover {
    color: var(--shade-foreground);
  }

  &:focus-visible {
    outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
    border-radius: calc(var(--globals-border-radius) / 1.5);
  }
}

.tabs-indicator {
  position: absolute;
  z-index: 0;
  left: var(--active-tab-left);
  top: 50%;
  transform: translateY(-50%);
  width: var(--active-tab-width) !important;
  height: var(--tabs-tab-height);
  background-color: var(--shade-foreground);
  border-radius: calc(var(--globals-border-radius) / 1.5);
  transition-property: left, width;
  transition-duration: var(--globals-transition-duration-slow);
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  flex: none;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.tabs-panel {
  --timing: var(--globals-transition-duration);
  position: relative;
  outline: 0;
  opacity: 1;
  overflow: hidden;
  transition: all var(--timing) ease-in-out;
  transform: translate3d(0, 0, 0);
  transition-delay: calc(var(--timing) / 2);

  &:focus-visible {
    outline: var(--globals-outline-style) var(--globals-outline-width) var(--globals-outline-color);
    outline-offset: calc(var(--globals-outline-offset) * -1);
    border-radius: var(--globals-border-radius);
  }

  &[hidden] {
    pointer-events: none;
    max-height: 0;
    user-select: none;
    opacity: 0;
    transform: translate3d(0, var(--tabs-panel-translateY), 0);
    transition: max-height var(--timing) ease-in-out;
    transition-delay: 0s;
  }
}

