@import "@uiid/tokens/component/tabs.tokens.css";

.tabs-list {
  position: relative;
  z-index: 0;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  font-weight: 600;
  cursor: pointer;
  background: none;
  color: var(--shade-foreground);
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  padding-inline: var(--globals-padding-x);
  height: var(--tabs-tab-height);

  &[data-active] {
    color: var(--shade-background);
  }

  &:not([data-active]):hover {
    text-decoration: underline;
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--shade-foreground);
      outline-offset: -1px;
    }
  }
}

.tabs-indicator {
  position: absolute;
  z-index: -1;
  left: var(--active-tab-left);
  top: 50%;
  transform: translateY(-50%);
  width: var(--active-tab-width) !important;
  height: var(--tabs-indicator-height);
  background-color: var(--shade-foreground);
  border-radius: var(--globals-border-radius);
  transition-property: left, width;
  transition-duration: var(--globals-transition-timing);
  flex: none;
}

.tabs-panel {
  --timing: var(--globals-transition-timing);
  position: relative;
  outline: 0;
  opacity: 1;
  overflow: hidden;
  transition: all var(--timing) ease-in-out;
  transform: translate3d(0, 0, 0);
  transition-delay: calc(var(--timing) / 2);

  &:focus-visible {
    outline: 2px solid var(--shade-foreground);
    outline-offset: -1px;
    border-radius: 0.375rem;
  }

  &[hidden] {
    pointer-events: none;
    max-height: 0;
    user-select: none;
    opacity: 0;
    transform: translate3d(0, var(--tabs-panel-translateY), 0);
    transition: max-height var(--timing) ease-in-out;
    transition-delay: 0s;
  }
}

/* Alignment variants */
.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}
