@import "@uiid/tokens/tabs.tokens.css";

.tabs-list {
  position: relative;
  z-index: 0;
  box-shadow: inset 0 -1px var(--tabs-list-border);
}

.Tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  font-weight: 600;
  cursor: pointer;
  background: none;
  color: var(--tabs-tab-color-default);
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  padding-inline: var(--globals-padding-x);
  height: var(--tabs-tab-height);

  &[data-selected] {
    color: var(--tabs-tab-color-active);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--tabs-tab-color-active);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--shade-foreground);
      outline-offset: -1px;
    }
  }
}

.tabs-indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: var(--tabs-indicator-height);
  background-color: var(--tabs-indicator-color-bg);
  transition-property: translate, width;
  transition-duration: var(--globals-transition-timing);
}

.tabs-panel {
  --timing: var(--globals-transition-timing);
  position: relative;
  height: var(--tabs-panel-minHeight);
  outline: 0;
  opacity: 1;
  transition: all var(--timing) ease-in-out;
  transform: translate3d(0, 0, 0);
  transition-delay: calc(var(--timing) / 2);

  &:focus-visible {
    outline: 2px solid var(--shade-foreground);
    outline-offset: -1px;
    border-radius: 0.375rem;
  }

  &[hidden] {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
    transition-delay: 0s;
  }
}
