@import "@uiid/tokens/component/list.tokens.css";

.list {
  &:where([data-marker="none"]) {
    list-style: none;
  }

  &:is([data-marker="decimal"], [data-marker="disc"], [data-marker="square"]) {
    list-style-position: outside;
    padding-inline-start: 1rem;
  }

  &:where([data-marker="decimal"]) {
    list-style-type: decimal;
  }

  &:where([data-marker="disc"]) {
    list-style-type: disc;
  }

  &:where([data-marker="square"]) {
    list-style-type: square;
  }
}

.list-group-header + *:is(ul, ol) {
  padding-inline-start: 0.5rem;
}

.list-group-icon {
  width: var(--list-icon-size);
}

.list-group-category {
  min-height: var(--list-group-category-min-height);
  align-content: center;
}

.list-group-panel {
  list-style: none;
  margin-block-end: 0.5rem;
}

.list-item svg {
  transform: translateY(calc(var(--list-icon-size) * 0.25));
  width: var(--list-icon-size);
}

.list-text-label {
  display: list-item;
  align-content: center;

  :is(ol) &::marker {
    font-size: 0.625rem;
    font-weight: 700;
  }
}

.list-text-description {
  color: var(--shade-muted);
}
