@import "@uiid/tokens/component/select.tokens.css";

.select-slot {
  composes: composes-field-slot from global;
}

.select-trigger-slots:has([data-slot="select-before"]) {
  padding-inline-start: 0;
}

.select-trigger-slots:has([data-slot="select-after"]) {
  padding-inline-end: 0;
}

.select-trigger-slots [data-slot="select-value"] {
  flex: 1;
  min-width: 0;
  padding-inline-start: 0;
}

.select-positioner {
  composes: composes-popup-positioner from global;
}

.select-popup {
  composes: composes-popup from global;
  min-width: var(--anchor-width);

  --list-description-color: var(--palette-on-tint);
  --list-icon-color: var(--palette-on-tint);
}

.select-item {
  composes: composes-option from global;
  display: flex;
  align-items: center;
  gap: var(--select-item-gap);
}

.select-item:focus {
  outline: none;
}

.select-item > [data-slot="list-item"] {
  flex: 1;
  min-width: 0;
}

.select-item-indicator {
  flex-shrink: 0;
  height: var(--list-icon-size);
  width: var(--list-icon-size);
}

.select-icon {
  flex-shrink: 0;
  height: var(--forms-icon-size);
  width: var(--forms-icon-size);
}

.select-value {
  min-width: 0;
  text-align: left;
  align-content: center;
  padding-inline-end: 0;
  font-size: inherit;

  [data-placeholder] & {
    color: var(--globals-placeholder-color);
  }
}
