.select-popup {
  min-width: var(--anchor-width);
}

.select-item:not([data-disabled]) {
  cursor: pointer;
}

.select-item:focus {
  outline: none;
}

.select-icon {
  flex-shrink: 0;
  height: 1rem;
  width: var(--globals-icon-size);
}
