.select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.select-positioner {
  z-index: var(--globals-z-index-modal);
}

.select-popup {
  min-width: var(--anchor-width);
}

.select-item:not([data-disabled]) {
  cursor: pointer;
}

.select-item:focus {
  outline: none;
}

.select-icon {
  flex-shrink: 0;
  height: 1rem;
  width: var(--globals-icon-size);
}

.select-value {
  [data-placeholder] & {
    color: var(--globals-placeholder-color);
  }
}
