@import "@uiid/tokens/semantic/forms.tokens.css";

.radio {
  aspect-ratio: 1;
  border-radius: 100%;
  outline: 0;
  background-color: var(--forms-bg);
  border: var(--globals-border-width) solid var(--forms-border-color);

  &[data-unchecked] {
    background-color: transparent;
  }

  &[data-checked] {
    background-color: var(--shade-foreground);
  }

  &:hover {
    background-color: var(--forms-bg-hover);
  }

  &:focus-visible {
    outline: var(--globals-outline-width) var(--globals-outline-style) var(--globals-outline-color);
    outline-offset: var(--globals-outline-offset);
  }

  &:where(:disabled, [disabled], [data-disabled]) {
    pointer-events: none;
    opacity: var(--globals-disabled-opacity);
  }

  &[data-invalid] {
    border-color: var(--tone-critical);
    outline: 1px solid var(--tone-critical);
  }
}

.indicator {
  &[data-unchecked] {
    display: none;
  }

  &::before {
    content: "";
    border-radius: 100%;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--shade-halftone);
  }
}
