/** Input */
[uiid="input"],
[data-uiid="select"],
[data-uiid="checkbox-label"] {
  width: -webkit-fill-available;

  /** sizes */
  font-size: var(--formfield-fontSize);
  height: var(--formfield-size-md-height);
  padding-inline: var(--formfield-paddingX);

  &:where([data-size="sm"]) {
    --formfield-fontSize: var(--formfield-size-sm-fontSize);
    height: var(--formfield-size-sm-height);
    --formfield-paddingX: var(--formfield-size-sm-paddingX);
  }

  &:where([data-size="md"]) {
    --formfield-fontSize: var(--formfield-size-md-fontSize);
    height: var(--formfield-size-md-height);
    --formfield-paddingX: var(--formfield-size-md-paddingX);
  }

  &:where([data-size="lg"]) {
    --formfield-fontSize: var(--formfield-size-lg-fontSize);
    height: var(--formfield-size-lg-height);
    --formfield-paddingX: var(--formfield-size-lg-paddingX);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }
}

/** Slots container */
[data-slot="formfield"] {
  position: relative;
  display: flex;
  align-items: stretch;
  width: -webkit-fill-available;
}

/* Input, Slots container */
[uiid="input"],
[data-uiid="select"],
[data-slot="formfield-slots"] {
  background-color: var(--input-background);
  color: var(--input-foreground);

  border-style: solid;
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);

  outline-offset: var(--input-outline-offset);
  outline-color: var(--input-outline-color);
  outline-width: var(--input-outline-width);

  /** Validation */
  &:not(:placeholder-shown)[data-validate="true"],
  &:has(:not(:placeholder-shown)[data-validate="true"]) {
    /** Valid */
    &:valid,
    &:has(:valid) {
      border-color: var(--input-state-valid-borderColor);
      outline-color: var(--input-state-valid-outlineColor);
    }
    /** Invalid */
    &:invalid,
    &:has(:invalid) {
      border-color: var(--input-state-invalid-borderColor);
      outline-color: var(--input-state-invalid-outlineColor);
    }
  }

  /** Focus */
  &:focus,
  &:focus-within {
    background-color: var(--input-backgroundFocus);
    outline-style: var(--input-outline-style);
  }

  /** Disabled */
  &:disabled,
  &[data-disabled="true"] {
    border-style: dashed;
    pointer-events: none;
    opacity: var(--input-state-disabled-opacity);
  }

  /** Slotted Input */
  [data-slotted="true"] {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    align-self: stretch;
    color: var(--shade-foreground);
    padding-inline: var(--formfield-paddingX);
  }
}

[data-slot="formfield-slots"] {
  width: -webkit-fill-available;
  height: var(--formfield-size-md-height);

  &:where([data-size="sm"]) {
    height: var(--formfield-size-sm-height);
  }

  &:where([data-size="md"]) {
    height: var(--formfield-size-md-height);
  }

  &:where([data-size="lg"]) {
    height: var(--formfield-size-lg-height);
  }
}

/** Placeholder */
[uiid="input"]::placeholder {
  color: var(--input-placeholder-color);
  font-size: var(--formfield-fontSize);
  line-height: var(--formfield-lineHeight);
}

/** Label Wrapper */
[data-slot="formfield"] {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  gap: var(--input-label-wrapperGap);
}

/** Label */
[data-slot="formfield-label"] {
  font-size: var(--input-label-fontSize);
  font-weight: var(--input-label-fontWeight);

  &[data-required="true"] {
    display: inline-block;

    &::after {
      content: attr(data-required-content);
      color: var(--input-required-color);
    }
  }
}

/** Description */
[data-slot="formfield-description"] {
  font-size: var(--input-description-fontSize);
  font-weight: var(--input-description-fontWeight);
  color: var(--input-description-color);
}

/** Bookend */
[data-slot="formfield-bookend"] {
  --formfield-bookend-height: var(--formfield-size-md-height);

  align-content: center;
  color: var(--input-bookend-color);
  font-size: var(--input-bookend-fontSize);
  font-weight: var(--input-bookend-fontWeight);
  height: 100%;
  text-wrap: nowrap;
  width: fit-content;

  &[data-is-string="true"]:first-child {
    padding-inline-start: var(--formfield-paddingX);
  }
  &[data-is-string="true"]:last-child {
    padding-inline-end: var(--formfield-paddingX);
  }
}

[data-uiid="select"] {
  appearance: none;

  &:has(option:disabled:checked) {
    color: var(--shade-accent);
  }
}

[uiid="input"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
