@import "@uiid/tokens/components/input.tokens.css";

/** Input */
[uiid="input"],
[uiid="select"],
[data-uiid="checkbox-label"] {
  font-size: var(--formfield-fontSize);
  height: var(--formfield-size-md-height);
  padding-inline: var(--formfield-paddingX);
  width: -webkit-fill-available;

  &:where([data-size="sm"]) {
    --formfield-fontSize: var(--formfield-size-sm-fontSize);
    height: var(--formfield-size-sm-height);
    --formfield-paddingX: var(--formfield-size-sm-paddingX);
  }

  &:where([data-size="md"]) {
    --formfield-fontSize: var(--formfield-size-md-fontSize);
    height: var(--formfield-size-md-height);
    --formfield-paddingX: var(--formfield-size-md-paddingX);
  }

  &:where([data-size="lg"]) {
    --formfield-fontSize: var(--formfield-size-lg-fontSize);
    height: var(--formfield-size-lg-height);
    --formfield-paddingX: var(--formfield-size-lg-paddingX);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }
}

/* Input, Slots container */
[uiid="input"],
[uiid="select"],
[data-slot="formfield-slots"] {
  background-color: var(--input-background);
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  color: var(--input-foreground);
  outline-offset: var(--input-outline-offset);
  outline-color: var(--input-outline-color);
  outline-width: var(--input-outline-width);

  /** Validation */
  &:not(:placeholder-shown)[data-validate="true"],
  &:has(:not(:placeholder-shown)[data-validate="true"]) {
    /** Valid */
    &:valid,
    &:has(:valid) {
      border-color: var(--input-state-valid-borderColor);
      outline-color: var(--input-state-valid-outlineColor);
    }
    /** Invalid */
    &:invalid,
    &:has(:invalid) {
      border-color: var(--input-state-invalid-borderColor);
      outline-color: var(--input-state-invalid-outlineColor);
    }
  }

  /** Focus */
  &:focus,
  &:focus-within {
    background-color: var(--input-backgroundFocus);
    outline-style: var(--input-outline-style);
  }

  /** Disabled */
  &:disabled,
  &[data-disabled="true"] {
    border-style: dashed;
    pointer-events: none;
    opacity: var(--input-state-disabled-opacity);
  }

  /** Slotted Input */
  [data-slotted="true"] {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    align-self: stretch;
    color: var(--shade-foreground);
    padding-inline: var(--formfield-paddingX);
  }
}

/** Placeholder */
[uiid="input"]::placeholder {
  color: var(--input-placeholder-color);
  font-size: var(--formfield-fontSize);
  line-height: var(--formfield-lineHeight);
}

[uiid="input"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
