@import "@uiid/tokens/card.tokens.css";

.card {
  position: relative;
  background-color: var(--card-color-bg);
  color: var(--card-color-fg);
  border-radius: var(--globals-border-radius);
  border: var(--globals-border-width) solid var(--card-border-color);
  padding-block: var(--globals-padding-y);
  padding-inline: var(--globals-padding-x);

  font-size: var(--typography-text-0-size);
  line-height: var(--typography-text-0-lineHeight);
  font-weight: var(--typography-text-0-weight);
  letter-spacing: var(--typography-text-0-letterSpacing);

  &:where([href]) {
    text-decoration: none;

    &:focus-visible {
      outline-width: var(--globals-outline-width);
      outline-color: var(--globals-outline-color);
      outline-offset: var(--globals-outline-offset);
      outline-style: var(--globals-outline-style);
    }

    &:focus-visible,
    &:hover {
      scale: var(--card-scale-up);
    }

    &:active {
      scale: var(--card-scale-down);
    }
  }

  &:where([data-size="xs"]) {
    padding-block: calc(var(--globals-padding-y) * 0.75);
    padding-inline: calc(var(--globals-padding-x) * 0.75);
    font-size: 0.625rem;
    font-weight: 600;
  }

  &:where([data-size="sm"]) {
    padding-block: var(--globals-padding-y);
    padding-inline: var(--globals-padding-x);
  }
  &:where([data-size="md"]) {
    padding-block: var(--globals-padding-y);
    padding-inline: var(--globals-padding-x);
  }
  &:where([data-size="lg"]) {
    padding-block: calc(var(--globals-padding-y) * 1.25);
    padding-inline: calc(var(--globals-padding-x) * 1.25);
  }

  &:where([data-variant="info"]) {
    --card-color-bg: var(--card-variant-info-bg);
    --card-border-color: var(--card-variant-info-border);
    --card-color-fg: var(--black);
  }

  &:where([data-variant="warning"]) {
    --card-color-bg: var(--card-variant-warning-bg);
    --card-border-color: var(--card-variant-warning-border);
    --card-color-fg: var(--black);
  }

  &:where([data-variant="negative"]) {
    --card-color-bg: var(--card-variant-negative-bg);
    --card-border-color: var(--card-variant-negative-border);
    --card-color-fg: var(--black);
  }

  &:where([data-variant="positive"]) {
    --card-color-bg: var(--card-variant-positive-bg);
    --card-border-color: var(--card-variant-positive-border);
    --card-color-fg: var(--black);
  }

  &:where([data-variant="inverted"]) {
    --card-color-bg: var(--card-variant-inverted-bg);
    --card-border-color: var(--card-variant-inverted-border);
    --card-color-fg: var(--card-variant-inverted-fg);
  }

  &:where([data-trimmed="true"]) {
    padding-block: 0;
    padding-inline: 0;
  }

  &:where([data-transparent="true"]) {
    background-color: transparent;
  }
}
