@import "@uiid/tokens/card.tokens.css";

.card {
  position: relative;
  background-color: var(--card-color-bg);
  color: var(--card-color-fg);
  border-radius: var(--globals-border-radius);
  border: var(--globals-border-width) solid var(--card-border-color);
  padding-block: var(--globals-padding-y);
  padding-inline: var(--globals-padding-x);

  font-size: var(--typography-text-0-size);
  line-height: var(--typography-text-0-lineHeight);
  font-weight: var(--typography-text-0-weight);
  letter-spacing: var(--typography-text-0-letterSpacing);

  &:where([href]) {
    text-decoration: none;

    &:focus-visible {
      outline-width: var(--globals-outline-width);
      outline-color: var(--globals-outline-color);
      outline-offset: var(--globals-outline-offset);
      outline-style: var(--globals-outline-style);
    }

    &:focus-visible,
    &:hover {
      scale: var(--card-scale-up);
    }

    &:active {
      scale: var(--card-scale-down);
    }
  }
}

.size-xsmall {
  padding-block: calc(var(--globals-padding-y) * 0.75);
  padding-inline: calc(var(--globals-padding-x) * 0.75);
  font-size: 0.625rem;
  font-weight: 600;
}

.size-small {
  padding-block: var(--globals-padding-y);
  padding-inline: var(--globals-padding-x);
}
.size-medium {
  padding-block: var(--globals-padding-y);
  padding-inline: var(--globals-padding-x);
}
.size-large {
  padding-block: calc(var(--globals-padding-y) * 1.25);
  padding-inline: calc(var(--globals-padding-x) * 1.25);
}

.variant-info {
  background-color: var(--card-variant-info-bg);
  border-color: var(--card-variant-info-border);
  color: var(--black);
}

.variant-warning {
  background-color: var(--card-variant-warning-bg);
  border-color: var(--card-variant-warning-border);
  color: var(--black);
}

.variant-negative {
  background-color: var(--card-variant-negative-bg);
  border-color: var(--card-variant-negative-border);
  color: var(--black);
}

.variant-positive {
  background-color: var(--card-variant-positive-bg);
  border-color: var(--card-variant-positive-border);
  color: var(--black);
}

.variant-inverted {
  background-color: var(--card-variant-inverted-bg);
  border-color: var(--card-variant-inverted-border);
  color: var(--card-variant-inverted-fg);
}

.toggle-trimmed {
  padding-block: 0;
  padding-inline: 0;
}

.toggle-transparent {
  background-color: transparent;
}
