@import "@uiid/tokens/card.tokens.css";

.card {
  position: relative;
  background-color: var(--shade-surface);
  color: var(--shade-foreground);
  border-radius: var(--globals-border-radius);
  border: var(--globals-border-width) solid var(--globals-border-color);
  padding: var(--globals-padding-y) var(--globals-padding-x);

  font-size: var(--typography-text-0-size);
  line-height: var(--typography-text-0-lineHeight);
  font-weight: var(--typography-text-0-weight);
  letter-spacing: var(--typography-text-0-letterSpacing);

  &:where([href]) {
    text-decoration: none;

    &:focus-visible {
      outline-width: var(--globals-outline-width);
      outline-color: var(--globals-outline-color);
      outline-offset: var(--globals-outline-offset);
      outline-style: var(--globals-outline-style);
    }

    &:focus-visible,
    &:hover {
      scale: var(--card-scale-up);
    }

    &:active {
      scale: var(--card-scale-down);
    }
  }
}

.card-action {
  margin-inline-start: auto;

  svg {
    width: var(--card-icon-size);
    height: auto;
    flex-shrink: 0;
    vertical-align: middle;
  }
}

.tone-info {
  background-color: var(--tones-info);
  color: var(--black);
}

.tone-warning {
  background-color: var(--tones-warning);
  color: var(--black);
}

.tone-negative {
  background-color: var(--tones-negative);
  color: var(--black);
}

.tone-positive {
  background-color: var(--tones-positive);
  color: var(--black);
}

.toggle-inverted {
  background-color: var(--shade-foreground);
  color: var(--shade-background);
}

.toggle-trimmed {
  padding-block: 0;
  padding-inline: 0;
}

.toggle-ghost {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  background-color: transparent;
}

.toggle-transparent {
  background-color: transparent;
}
