.kbd-group {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.kbd {
  all: unset;
  background-color: var(--shade-accent);
  box-shadow: inset 0 0 0 1px black;
  color: var(--shade-foreground);
  display: inline-flex;
  height: 1.25rem;
  width: fit-content;
  min-width: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: calc(var(--globals-border-radius) / 1.5);
  padding-inline: 0.375rem;
  font-weight: 500;
  user-select: none;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 0.75rem;

  svg {
    height: var(--globals-icon-size);
  }
}
