.status {
  display: inline-flex;
}

.status-dot {
  aspect-ratio: 1;
  background-color: var(--shade-foreground);
  border-radius: 99999px;
  display: inline-block;
  width: 0.5rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    scale: var(--globals-transform-scale-down);
  }
  100% {
    opacity: 1;
  }
}

.tone-positive {
  background-color: var(--tone-positive);
}

.tone-warning {
  background-color: var(--tone-warning);
}

.tone-critical {
  background-color: var(--tone-critical);
}

.tone-info {
  background-color: var(--tone-info);
}

.toggle-inverted {
  background-color: var(--shade-background);
  color: var(--shade-foreground);
}

.toggle-pulse {
  animation: pulse 1.5s infinite;
}
