.status {
  display: inline-flex;
}

.status-dot {
  aspect-ratio: 1;
  background-color: var(--shade-foreground);
  border-radius: 99999px;
  display: inline-block;
  width: 0.5rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    scale: var(--globals-transform-scale-down);
  }
  100% {
    opacity: 1;
  }
}

.toggle-pulse {
  animation: pulse 1.5s infinite;
}

.variant-positive {
  background-color: var(--colors-positive-bg);
}

.variant-warning {
  background-color: var(--colors-warning-bg);
}

.variant-negative {
  background-color: var(--colors-negative-bg);
}

.variant-info {
  background-color: var(--colors-info-bg);
}
