@import "@uiid/tokens/components/button.tokens.css";

[uiid="button"] {
  all: unset;
  background-color: var(--button-bg);
  border: var(--button-border-width) solid var(--button-border-color);
  color: var(--button-fg);
  cursor: pointer;
  display: grid;
  font-size: var(--button-fontSize);
  height: var(--button-height);
  padding-inline: calc(var(--forms-paddingX) * 2);
  text-underline-offset: 0.125rem;
  transition: all var(--button-transition) ease-in-out;

  /** Sizes */
  &:where([size="sm"]) {
    --button-fontSize: var(--forms-size-sm-fontSize);
    --button-height: var(--forms-size-sm-height);
    --button-paddingX: var(--forms-size-sm-paddingX);
  }
  &:where([size="md"]) {
    --button-fontSize: var(--forms-size-md-fontSize);
    --button-height: var(--forms-size-md-height);
    --button-paddingX: var(--forms-size-md-paddingX);
  }
  &:where([size="lg"]) {
    --button-fontSize: var(--forms-size-lg-fontSize);
    --button-height: var(--forms-size-lg-height);
    --button-paddingX: var(--forms-size-lg-paddingX);
  }

  /** Variants */
  &:where([variant="inverted"]) {
    --button-bg: var(--button-variant-inverted-bg);
    --button-color-outline: var(--button-variant-inverted-fg);
    --button-fg: var(--button-variant-inverted-fg);
    --button-mix-color: var(--shade-foreground);
    color: var(--button-fg) !important;
  }
  &:where([variant="subtle"]) {
    --button-bg: var(--button-variant-subtle-bg);
    --button-fg: var(--button-variant-subtle-fg);
    border-color: var(--button-variant-subtle-border-color);
  }
  &:where([variant="primary"]) {
    --button-bg: var(--button-variant-primary-bg);
    --button-fg: var(--button-variant-primary-fg);
    --button-border-color: var(--button-variant-primary-bg);
  }
  &:where([variant="secondary"]) {
    --button-bg: var(--button-variant-secondary-bg);
    --button-fg: var(--button-variant-secondary-fg);
    --button-border-color: var(--button-variant-secondary-bg);
  }
  &:where([variant="tertiary"]) {
    --button-bg: var(--button-variant-tertiary-bg);
    --button-fg: var(--button-variant-tertiary-fg);
    --button-border-color: var(--button-variant-tertiary-bg);
  }

  /** Fills */
  &:where([fill="ghost"]:not(:hover)) {
    text-decoration: underline;
  }

  &:where([fill="outline"]) {
    border-color: var(--button-bg);
    border-width: var(--button-border-width);
    border-style: solid;

    &:where([variant="inverted"]) {
      border-color: var(--button-fg);
    }
  }

  &:where([fill="ghost"]:not(:hover)),
  &:where([fill="outline"]:not(:hover)) {
    background: transparent;
    color: var(--button-bg);
  }

  /**
   * SHAPES
   */
  &:where([shape="rounded"]) {
    border-radius: var(--button-border-radius);
  }
  &:where([shape="pill"]) {
    border-radius: 99999px;
  }

  /**
   * DISABLED
   */
  &:where([aria-disabled="true"]) {
    opacity: var(--button-disabledOpacity);
    cursor: not-allowed;
  }

  /**
   * ICON
   * standalone
   */
  &:where([icon="standalone"]) {
    padding: 0;
    aspect-ratio: 1;
  }

  & > * {
    grid-area: 1 / 1;
    place-content: center;
    text-align: center;
  }

  /**
   * FOCUS
   */
  &:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--button-color-outline, var(--button-bg));
  }

  /**
   * HOVER, FOCUS, ACTIVE
   */
  &:not([aria-disabled="true"]):hover,
  &:not([aria-disabled="true"]):focus {
    scale: var(--button-scale-hover);
  }

  &:not([aria-disabled="true"]):hover {
    background-color: color-mix(in srgb, var(--button-bg) var(--button-hoverMix), var(--button-mixColor));
  }

  &:not([aria-disabled="true"]):active {
    scale: var(--button-scale-active);
    background-color: color-mix(in srgb, var(--button-bg) var(--button-activeMix), var(--button-mixColor));
  }
}

[data-slot="button-loading"] {
  margin-inline: auto;
  visibility: visible;
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  [data-slot="button-loading-dots"] {
    width: 1rem;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, var(--button-fg, var(--shade-background)) 90%, #0000);
    background:
      var(--_g) 0% 50%,
      var(--_g) 50% 50%,
      var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
}

[data-slot="button-content"] {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;
  visibility: visible;
  &[aria-hidden="true"] {
    visibility: hidden;
  }
}

@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
