[uiid="button"] {
  all: unset;
  border-radius: var(--button-borderRadius);
  cursor: pointer;
  text-underline-offset: 0.125rem;
  display: grid;
  transition: all var(--button-transition) ease-in-out;

  & > * {
    grid-area: 1 / 1;
    place-content: center;
    text-align: center;
  }

  &:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--button-color-outline, var(--button-bg));
  }

  &:not([aria-disabled="true"]):hover,
  &:not([aria-disabled="true"]):focus {
    scale: var(--button-scaleHover);
  }

  &:not([aria-disabled="true"]):hover {
    background-color: color-mix(in srgb, var(--button-bg) var(--button-hoverMix), var(--button-mixColor));
  }

  &:not([aria-disabled="true"]):active {
    scale: var(--button-scaleActive);
    background-color: color-mix(in srgb, var(--button-bg) var(--button-activeMix), var(--button-mixColor));
  }

  /** sizes */
  font-size: var(--button-size-md-fontSize);
  height: var(--button-size-md-height);
  padding-inline: var(--button-size-md-paddingX);

  &:where([size="sm"]) {
    font-size: var(--button-size-sm-fontSize);
    height: var(--button-size-sm-height);
    padding-inline: var(--button-size-sm-paddingX);
  }

  &:where([size="md"]) {
    font-size: var(--button-size-md-fontSize);
    height: var(--button-size-md-height);
    padding-inline: var(--button-size-md-paddingX);
  }

  &:where([size="lg"]) {
    font-size: var(--button-size-lg-fontSize);
    height: var(--button-size-lg-height);
    padding-inline: var(--button-size-lg-paddingX);
  }

  /** variants */
  background-color: var(--button-bg);
  border-color: var(--button-color-border, var(--button-bg));
  color: var(--button-fg);

  &:where([variant="inverted"]) {
    --button-bg: var(--button-variant-inverted-bg);
    --button-color-outline: var(--button-variant-inverted-fg);
    --button-fg: var(--button-variant-inverted-fg);
    --button-mix-color: var(--shade-foreground);

    [data-slot="spinner-foreground"] {
      stroke: var(--button-fg) !important;
    }
  }

  &:where([variant="primary"]) {
    --button-bg: var(--button-variant-primary-bg);
    --button-fg: var(--button-variant-primary-fg);
  }

  &:where([variant="secondary"]) {
    --button-bg: var(--button-variant-secondary-bg);
    --button-fg: var(--button-variant-secondary-fg);
  }

  &:where([variant="tertiary"]) {
    --button-bg: var(--button-variant-tertiary-bg);
    --button-fg: var(--button-variant-tertiary-fg);
  }

  /** fills */
  &:where([fill="ghost"]:not(:hover)) {
    text-decoration: underline;
  }

  &:where([fill="outline"]) {
    border-color: var(--button-bg);
    border-width: var(--button-borderWidth);
    border-style: solid;

    &:where([variant="inverted"]) {
      border-color: var(--button-fg);
    }
  }

  &:where([fill="ghost"]:not(:hover)),
  &:where([fill="outline"]:not(:hover)) {
    background: transparent;
    color: var(--button-bg);
  }

  /** shapes */
  &:where([shape="rounded"]) {
    border-radius: var(--button-borderRadius);
  }
  &:where([shape="pill"]) {
    border-radius: 99999px;
  }

  /** disabled */
  &:where([aria-disabled="true"]) {
    opacity: var(--button-disabledOpacity);
    cursor: not-allowed;
  }

  /** icon */
  &:where([icon="standalone"]) {
    padding: 0;
    aspect-ratio: 1;
  }
}

[data-slot="button-loading"] {
  margin-inline: auto;
  visibility: visible;
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  [data-slot="button-loading-dots"] {
    width: 1.5rem;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, var(--button-fg) 90%, #0000);
    background:
      var(--_g) 0% 50%,
      var(--_g) 50% 50%,
      var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
}

[data-slot="button-content"] {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;
  visibility: visible;
  &[aria-hidden="true"] {
    visibility: hidden;
  }
}

@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
