@import "@uiid/tokens/component/overlays.tokens.css";

.sheet-backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--shade-background);
  opacity: var(--overlays-backdrop-opacity);
  transition: opacity 150ms ease-out;
  z-index: var(--overlays-backdrop-zIndex);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.sheet-popup {
  --inset: 0;
  position: fixed;
  background-color: var(--shade-surface);
  color: var(--shade-foreground);
  z-index: var(--overlays-backdrop-zIndex);
  transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.sheet-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.side-right {
  right: var(--inset);
  border-left: 1px solid var(--shade-accent);
  &[data-starting-style],
  &[data-ending-style] {
    transform: translate(50%, 0);
  }
}

.side-left {
  left: var(--inset);
  border-right: 1px solid var(--shade-accent);
  &[data-starting-style],
  &[data-ending-style] {
    transform: translate(-50%, 0);
  }
}

.side-top {
  top: var(--inset);
  border-bottom: 1px solid var(--shade-accent);
  &[data-starting-style],
  &[data-ending-style] {
    transform: translate(0, -50%);
  }
}

.side-bottom {
  bottom: var(--inset);
  border-top: 1px solid var(--shade-accent);
  &[data-starting-style],
  &[data-ending-style] {
    transform: translate(0, 50%);
  }
}

.side-right,
.side-left {
  inset-block: var(--inset);
  height: calc(100% - var(--inset) * 2);
}

.side-top,
.side-bottom {
  inset-inline: var(--inset);
  height: auto;
  width: calc(100% - var(--inset) * 2);
}
