@import "@uiid/tokens/components/alert.tokens.css";

.alert {
  background-color: var(--alert-color-bg);
  color: var(--alert-color-fg);

  padding-inline: var(--alert-padding-x);
  padding-block: var(--alert-padding-y);

  font-size: var(--alert-font-size);
  font-weight: var(--alert-font-weight);

  border-radius: var(--alert-border-radius);
  border: var(--alert-border-width) solid var(--alert-border-color);

  &:where([data-variant="info"]) {
    --alert-color-bg: var(--alert-variant-info-bg);
    --alert-border-color: var(--alert-variant-info-border);
    --alert-color-fg: var(--black);
  }

  &:where([data-variant="warning"]) {
    --alert-color-bg: var(--alert-variant-warning-bg);
    --alert-border-color: var(--alert-variant-warning-border);
    --alert-color-fg: var(--black);
  }

  &:where([data-variant="error"]) {
    --alert-color-bg: var(--alert-variant-error-bg);
    --alert-border-color: var(--alert-variant-error-border);
    --alert-color-fg: var(--black);
  }

  &:where([data-variant="success"]) {
    --alert-color-bg: var(--alert-variant-success-bg);
    --alert-border-color: var(--alert-variant-success-border);
    --alert-color-fg: var(--black);
  }

  &:where([data-variant="inverted"]) {
    --alert-color-bg: var(--alert-variant-inverted-bg);
    --alert-border-color: var(--alert-variant-inverted-border);
    --alert-color-fg: var(--alert-variant-inverted-fg);
  }
}
