[data-slot="formfield-bookend"] {
  align-content: center;
  background-color: var(--forms-background);
  color: var(--input-bookend-color);
  font-size: var(--input-bookend-font-size);
  font-weight: var(--input-bookend-font-weight);
  padding-inline: var(--forms-paddingX);
  overflow: hidden;
  text-wrap: nowrap;

  &[data-position="before"] {
    border-top-left-radius: var(--forms-border-radius);
    border-bottom-left-radius: var(--forms-border-radius);

    &[data-bordered="true"] {
      border-right: var(--forms-border-width) solid var(--forms-border-color);
    }
  }

  &[data-position="after"] {
    border-top-right-radius: var(--forms-border-radius);
    border-bottom-right-radius: var(--forms-border-radius);

    &[data-bordered="true"] {
      border-left: var(--forms-border-width) solid var(--forms-border-color);
    }
  }

  &[data-position="before"],
  &[data-position="after"] {
    &:has([data-render="false"]) {
      display: none;
    }
  }

  &[role="button"] {
    cursor: pointer;

    &:focus {
      outline: var(--globals-outline-width) solid var(--shade-foreground);
      outline-offset: -1px;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--forms-background), var(--shade-foreground) 2%);
    }

    &:active {
      background-color: color-mix(in srgb, var(--forms-background), var(--shade-foreground) 5%);
    }
  }
}
