[data-slot="formfield-slots"] {
  position: relative;
  display: flex;
  align-items: stretch;
  width: -webkit-fill-available;
  width: -moz-available;

  &:has([uiid="select"]) {
    width: auto;
  }
}
