.sortable-item {
  &:where([data-dragging], :disabled) {
    opacity: var(--globals-disabled-opacity);
  }
}

.sortable-item-handle {
  composes: composes-disabled from global;

  all: unset;
  cursor: grab;

  &[data-dragging] {
    cursor: grabbing;
  }

  svg {
    vertical-align: middle;
  }
}

.sortable-dragging {
  cursor: grabbing;
}
